*,*::before,*::after{box-sizing:border-box;}ul[class],ol[class]{padding:0;}body,h1,h2,h3,h4,p,ul[class],ol[class],li,figure,figcaption,blockquote,dl,dd{margin:0;}
/* * {
	position: relative;
} */

:root {
	--green: #66ff66;
	--lightgray: #f2f2f2;
	--gray: #d9d9d9;
	--red: #ff6666;
}

.fract {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 3px;
}
.eqPart {
    padding: 0 3px;
}
sup, sub {
    font-size: 0.8rem;
}


::-webkit-scrollbar {
	width: 10px;
	background-color: rgba(0, 0, 0, 0);
}
::-webkit-scrollbar-track {
	background-color: var(--lightgray);
	border-radius: 10px;
}
::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: var(--green);
}
.results {
	z-index: 3;
	position: fixed;
	
	width: 10%;
	height: 10%;
	
	opacity: 0;
	top: -30%;
	left: 45%;

	background-color: var(--green);
	
	transition: 1s;
}
.results.full {
	top: 15%;
	left: 15%;
	width: 70%;
	height: 70%;
	transition: 1s;
	opacity: 1;
	padding: 20px;
	border-radius: 20px;
}
.results.hiden {
	top: -70%;
	opacity: 0;
}
.results_inner {
	width: 100%;
	height: 100%;
	border-radius: 10px;
	background-color: #fff;
}
.results_content {
	width: 100%;
	height: 100%;
	padding: 15px;
	border-radius: 15px;
	overflow-x: auto;
	transition: 0.5s;
}
.results_content.hiden {
	opacity: 0;
}
.darkBg {
	width: 100px;
	height: 100px;
	position: fixed;
	top: -100px;
	left: -100px;
	border-radius: 50%;
	background-color: #000;
	opacity: 0;
	z-index: 2;
	transition: 1.5s;
}
.darkBg.active {
	transform: scale(70, 70);
	opacity: 0.7;
}
.results section {
	padding: 10px 20px;
	margin-bottom: 10px;
	background-color: var(--lightgray);
	border-radius: 10px;
	width: 100%;
}
.results h2 {
	text-align: center;
}
.results h3 {
	font-weight: normal;
}
.range_result {
	height: 30px;
	margin: 10px 0;
	border: 5px solid var(--gray);
	border-radius: 5px;
	transition: 1s;
	background-color: #fff;
}
.range_line {
	height: 100%;
	width: 0%;
	transition: 1s;
	background-color: var(--green);
}
.results h3.percent {
	text-align: center;
}
table.stats {
	margin: 10px 0;
	width: 100%;
}
.stats td {
	width: 50%;
	border-bottom: 3px solid var(--gray);
}
.stats .lastTd {
	border: none;
}
.buttonHolder {
	width: 100%;
	display: flex;
	justify-content: center;
}
.acceptButton {
	background-color: var(--green);
	width: 60px;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
	color: white;
	border-radius: 10px;
	padding: 10px;
	cursor: pointer;
}
.acceptButton:hover {
	opacity: 0.8;
}

.results .eqAmount {
	font-size: 1.2rem;
	background-color: var(--lightgray);
	padding: 10px;
	border-radius: 5px;
	width: 30%;
	text-align: center;
}
.results_holder {
	margin: 5px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	max-height: 50px;
}


.header {
	font-size: 45px;
	display: flex;
	align-self: center;
	justify-content: center;
	user-select: none;
	font-family: serif;
}
.actionSign {
	width: 50px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	background-color: #d9d9d9;
	cursor: pointer;
	margin: 5px 5px;
	transition: 0.25s;
	user-select: none;
}
.actionSign.active{
	background-color: var(--green);
}
.main {
	margin: 30px auto;
	max-width: 1000px;
	background-color: #f2f2f2;
	border-radius: 20px;
	font-family: sans-serif;
}
.wrapper {
	max-width: 80%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin: 0 auto;
	padding: 30px 0;
}
.range {
	appearance: none;
	max-width: 800px;
	width: 100%;
	display: block;
	background-color: #d9d9d9;
	opacity: 0.8;
	transition: opacity .2s;
	height: 30px;
	border-radius: 4px;
	margin: 30px 0;
}
.range:hover {
	opacity: 1;
}
.range::-webkit-slider-thumb{
	appearance: none;
	background-color: var(--green);
	height: 40px;
	width: 40px;
	border-radius: 5px;
}
.range_value {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 150px;
	height: 50px;
	margin: 0 auto;	
	box-sizing: border-box;
	border-radius: 10px;
	background-color: #d9d9d9;

}
.unactive {
	pointer-events: none;
}
.header {
	font-size: 45px;
	display: flex;
	align-self: center;
	justify-content: center;
	user-select: none;
	font-family: serif;
}
.equation_area {
	border: 15px solid #d9d9d9;
	border-radius: 20px;
	margin: 20px 0;
	max-width: 800px;
	min-height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 1s;
	flex-wrap: wrap;
}
#correct_answer_wrapper {
	position: absolute; 
	top: 0px;
	left: 50%;
	transition: 1s;
}
#correct_answer_wrapper.hiden {
	top: -150px;
}
#correct_answer {
	position: relative; 
	left: -50%; 
	border: 7px solid var(--green);
	width: 200px;
	height: 100px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	border-top-width: 0;
	background-color: var(--lightgray);
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0px 0px 11px 2px rgba(34, 60, 80, 0.15);
}
#checkmark_sign_container {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	border: 5px solid var(--green);
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}
#checkmark_sign {
	clip-path: polygon(5% 69%, 43% 98%, 96% 19%, 83% 11%, 39% 75%, 14% 57%);
	background-color: var(--green);
	width: 80%;
	height: 80%;
}
.explanations_wrapper {
	border: 10px solid var(--green);
	padding: 15px;
	width: 100%;
	border-radius: 20px;
	background-color: #fff;
	transition: 1s;
	display: block;
	margin-bottom: 30px;
}
.full_equation {
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 5px solid var(--green);
	padding-bottom: 10px;
	font-size: 1.8rem;
}
.equation_with_answer {
	background-color: var(--lightgray);
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 10px;
	border-radius: 10px;
	margin-bottom: 7px;
}
.equation_container{
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: center;
	flex-wrap: wrap;
}
.explanations_container li {
	font-size: 1.5rem;
	margin-bottom: 15px;
	width: 100%;
}
.explanations_container {
	margin-top: 20px;
} 
#to_top_wrapper {
	bottom: 20px;
	right: 20px;
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 99;
	transition: 0.5s;
}
#to_top_wrapper.hiden {
	opacity: 0;
	pointer-events: none;
}
#to_top_container {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 5px solid var(--green);
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2.2rem;
	color: var(--green);
}
#to_top_container:hover {
	opacity: 0.9;
	cursor: pointer;
}
#to_top_button {
	clip-path: polygon(5% 2%, 5% 100%, 90% 50%);
	transform: rotate(-90deg);
	background-color: var(--green);
	width: 80%;
	height: 70%;
}


.equation_area-active {
	border-color: var(--green);
}
.equation_area-mistake {
	transition: 0.25s;
	background-color: #ffb3b3;
}
.equation_text {
	font-size: 35px;
	margin-right: 10px;
	color: #262626;
	transition: 0.500s;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.answer_text {
	height: 40px;
	width: 60px;
	font-size: 25px;
	box-sizing: border-box;
	padding: 5px;
	color: #4d4d4d;
	text-align: center;
	transition: 0.5s;
}
.equation_text.hiden {
	opacity: 0;
}
.answer_text.hiden, .sign.hiden {
	opacity: 0;
	width: 0;
	padding: 0;
	border-width: 0;
}
.answer_text.none {
	display: none;
}
.sign {
	display: flex;
	justify-content: center;
	align-items: center;
	user-select: none;
	background-color: var(--green);
	color: white;
	cursor: pointer;
	transition: 0.5s;
}
.sign.start {
	border-radius: 10px;
	width: 120px;
	height: 80px;
}
#sign_start {
	clip-path: polygon(5% 2%, 5% 100%, 90% 50%);
	background-color: #fff;
	width: 40px;
	height: 40px;
}
.sign.submit {
	border-radius: 5px;
	width: 80px;
	height: 40px;
	font-size: 40px;
	margin-left: 5px;
}
.sign.reload {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	font-weight: bold;
	font-size: 36px;
}

input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
.mistakes_header {
	text-align: center;
	font-size: 45px;
	color: #d9d9d9;
	font-weight: bold;
	transition: 0.5s;
	display: flex;
	justify-content: center;
	flex-direction: row;
	margin: 10px 0;
	margin-bottom: 25px;
}
.mistake_cross {
	clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
	background-color: var(--gray);
	height: 40px;
	width: 40px;
	margin-right: 10px;
	transition: 1s;
}
.mistakes_header.active .mistake_cross{
	background-color: var(--red);
}
.mistakes_header.no_mistakes .mistake_cross{
	background-color: var(--green);
}

@media (max-width: 600px) {
	body {
		padding-top: 45px;
		background-color: var(--lightgray);
	}
	.results.full {
		top: 10%;
		left: 10%;
		width: 80%;
		height: 80%;
		padding: 13px;
		border-radius: 13px;
	}
	.results.hiden {
		top: -80%;
		opacity: 0;
	}
	.results_inner {
		border-radius: 5px;
	}
	.results_content {
		padding: 10px;
		border-radius: 10px;
		overflow-x: auto;
		transition: 0.5s;
	}

	.results section {
		padding: 7px 13px;
		margin-bottom: 7px;
		border-radius: 7px;
	}
	.range_result {
		height: 20px;
		margin: 7px 0;
		border: 3px solid var(--gray);
		border-radius: 3px;
	}
	table.stats {
		margin: 7px 0;
	}
	.stats td {
		width: 50%;
		border-bottom: 2px solid var(--gray);
	}
	.acceptButton {
		width: 60px;
		height: 60px;
		font-size: 2rem;
		border-radius: 7px;
		padding: 7px;
	}
	.results_p {
		font-size: 0.9rem;
	}
	.results .eqAmount {
		font-size: 1.1rem;
		padding: 7px;
		border-radius: 5px;
		min-width: 30%;
		text-align: center;
	}
	.results_holder {
		margin: 5px;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		max-height: 50px;
	}
	.darkBg {
		transition: 1s;
	}
	.darkBg.active {
		transform: scale(30, 30);
	}
	
	.numbers, .actionSign {
		font-size: 15px;
		width: 35px;
		height: 35px;
		border-radius: 7px;
		margin: 2.5px 2.5px;
	}
	.actionSign {
		font-size: 35px;
	}
	.main {
		margin: 0;
		border-radius: 0px;
		font-family: sans-serif;
	}
	.wrapper {
		margin: 0 auto;
		padding: 15px 0;
		max-width: 90%;
	}
	.range {
		height: 20px;
		border-radius: 4px;
		margin: 20px 0;
	}
	.range::-webkit-slider-thumb{
		height: 30px;
		width: 30px;
	}
	.range_value {
		width: 75px;
		height: 30px;
		border-radius: 5px;
		font-size: 15px;
	}
	.header {
		font-size: 35px;
		margin-bottom: 10px;
	}
	.equation_area {
		border-width: 10px;
		border-radius: 20px;
		margin: 15px 0;
		min-height: 150px;
	}
	.equation_text {
		font-size: 20px;
		margin-right: 6px;
	}
	.answer_text {
		height: 30px;
		width: 40px;
		font-size: 20px;
		padding: 5px;
	}
	.sign.start {
		border-radius: 7px;
		width: 80px;
		height: 50px;
		font-size: 35px;
	}
	#sign_start {
		width: 25px;
		height: 25px;
	}	
	.sign.submit {
		border-radius: 5px;
		width: 55px;
		height: 30px;
		font-size: 30px;
		margin-left: 3px;
	}
	.sign.reload {
		width: 40px;
		height: 40px;
		border-radius: 50%;
		font-size: 24px;
	}
	.mistakes_header {
		font-size: 30px;
		margin: 7px 0;
	}
	.mistake_cross {
		height: 25px;
		width: 25px;
		margin-right: 7px;
	}


	#correct_answer_wrapper.hiden {
		top: -150px;
	}
	#correct_answer {
		border: 5px solid var(--green);
		width: 100px;
		height: 80px;
		border-top-width: 0;
	}
	#checkmark_sign_container {
		width: 60px;
		height: 60px;
		border: 5px solid var(--green);
	}
	
	.explanations_wrapper {
		border: 8px solid var(--green);
		padding: 10px;
		border-radius: 15px;
	}
	.full_equation {
		border-bottom: 4px solid var(--green);
		padding-bottom: 10px;
		font-size: 20px;
	}
	.equation_with_answer {
		background-color: var(--lightgray);
		padding: 7px;
		border-radius: 7px;
		margin-bottom: 5px;
	}
	.explanations_container ol {
		padding-left: 25px;
	}
	.explanations_container li {
		font-size: 15px;
		margin-bottom: 15px;
		width: 100%;
	}
	.explanations_container {
		margin-top: 20px;
	} 
	#to_top_wrapper {
		bottom: 10px;
		right: 10px;
	}
	#to_top_container {
		width: 40px;
		height: 40px;
		font-size: 2.2rem;
		border-width: 4px;
		background: rgba(256, 256, 256, 0.8);
		backdrop-filter: blur(1px);
	}
	#to_top_button {
		clip-path: polygon(5% 2%, 5% 100%, 90% 50%);
		transform: rotate(-90deg);
		background-color: var(--green);
		width: 80%;
		height: 70%;
	}

	.eqPart {
		padding: 0 2px;
	}
	sup, sub {
		font-size: 0.8rem;
	}

}