*,*::before,*::after{box-sizing:border-box;}ul[class],ol[class]{padding:0;}body,h1,h2,h3,h4,p,ul[class],ol[class],li,figure,figcaption,blockquote,dl,dd{margin:0;}

#ref_button {
	top: 15px;
	left: 15px;
}
#color_button {
	top: 15px;
	left: 80px;
	padding: 7px;
	opacity: 1;
	transition: 0.5s;
}
#color_button.hiden {
	opacity: 0;
}
#color_inner {
	background-color: var(--green);
	width: 100%;
	height: 100%;
	border-radius: 5px;
}
#colors_container {
	top: 15px;
	left: 80px;
	z-index: 6;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-gap: 4px;
	padding: 4px;
	display: grid;
	width: 50px;
	height: 50px;
	transition: 0.5s;	
	opacity: 0;
	z-index: 0;
}
#colors_container.active {
	width: 120px;
	height: 120px;
	cursor: auto;
	grid-gap: 8px;
	padding: 8px;
	opacity: 1;
	z-index: 5;
}
.active .color_container {
	width: 100%;
	height: 100%;
	border-radius: 10px;
	cursor: pointer;
}
.color_container {
	width: 100%;
	height: 100%;
	border-radius: 5px;
	cursor: auto;
}
.top_button {
	position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.2rem;
    cursor: pointer;
    user-select: none;
    background-color: white;
	color: var(--gray);
    border: 4px solid var(--gray);
    z-index: 5;
	transition: 0.2s;
}

.top_button:hover {
    color: var(--green);
    border: 4px solid var(--green);
}
.ref_button.active {
    color: var(--green);
    border: 4px solid var(--green);
}
.ref_wrapper {
    position: fixed;
    top: 50px;
    left: 10%;
    bottom: 50px;
    width: 80%;
    height: calc(100vh - 100px);
    border: 10px solid var(--green);
    border-radius: 20px;
    background-color: #fff;
    padding: 40px;
	transition: 0.5s;
	z-index: 4;
}
.ref_wrapper.hiden {
    height: 0;
    opacity: 0;
	z-index: -1;
}
.ref_content {
    width: 100%;
    height: 100%;
    overflow-x: auto;
}
@media (max-width: 600px) {
    .top_button {
		top: 10px;
		left: 10px;
		width: 40px;
		height: 40px;
		border-radius: 7px;
		font-size: 1.8rem;
		border: 3px solid var(--gray);
	}
	#ref_button {
		top: 10px;
		left: 10px;
	}
	#color_button {
		top: 10px;
		left: 60px;
		padding: 5px;
	}
	#colors_container {
		top: 10px;
		left: 60px;
		grid-gap: 4px;
		padding: 4px;
		width: 40px;
		height: 40px;
	}
	#colors_container.active {
		width: 90px;
		height: 90px;
		grid-gap: 6px;
		padding: 6px;
	}
	.active .color_container {
		border-radius: 7px;
	}

	.top_button:hover {
		border: 3px solid var(--green);
	}
	.top_button.active {
		border: 3px solid var(--green);
	}
	.ref_wrapper {
		top: 20px;
		left: 5%;
		bottom: 20px;
		width: 90%;
		height: calc(100vh - 40px);
		border: 10px solid var(--green);
		border-radius: 10px;
		padding: 20px;
	}
	
	.ref_content section {
		padding: 10px 15px;
		margin-bottom: 10px;
		border-radius: 7px;
	}
	.ref_content h2 {
		margin-bottom: 3px;
		font-size: 1.4rem;
	}
	.ref_content p {
		font-size: 1.2rem;
	}

}